body {
    font-family: Arial, sans-serif;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.sidebar {
    height: 100vh;
    position: fixed;
}
